/*-- scss:defaults --*/
// $presentation-h1-font-size: 1.5em;

// Customise code-block background

$code-block-bg: #f1f0f0;
$code-block-border-color: #000000;

/*-- scss:rules --*/
// .reveal .presentation h1 {
//     font-size: 1.5em;
// }


// custom elements (brutally copied from https://meghan.rbind.io/blog/quarto-slides/) 

.sectionhead {
    font-size: 1em;
    text-align: center;
    color: $presentation-heading-color;
    font-family: $presentation-heading-font;
    background-color: $body-bg;
    margin: 1px;
    padding: 2px 2px 2px 2px;
    width: 120px;
    border-left: 10px solid;
  }
  
.blackbox {
    color: black;
    background-color: transparent;
    margin: 1px;
    padding: 5px 2px 5px 2px;
    height: 205px;
    border: 2px solid;
}

.redbox {
    color: red;
    background-color: transparent;
    margin: 1px;
    padding: 5px 2px 5px 2px;
    height: 100px;
    border: 4px solid;
}

.redbox-high {
    color: red;
    background-color: transparent;
    margin: 1px;
    padding: 5px 2px 5px 2px;
    height: 280px;
    border: 4px solid;
}

.redbox-higher {
    color: red;
    background-color: transparent;
    margin: 1px;
    padding: 5px 2px 5px 2px;
    height: 470px;
    border: 4px solid;
}

.redbox-big {
    color: red;
    background-color: transparent;
    margin: 1px;
    padding: 5px 2px 5px 2px;
    height: 155px;
    border: 4px solid;
}

.redbox-small {
    color: red;
    background-color: transparent;
    margin: 1px;
    padding: 5px 2px 5px 2px;
    height: 235px;
    border: 4px solid;
}

.redbox-micro {
    color: red;
    background-color: transparent;
    margin: 1px;
    padding: 5px 2px 5px 2px;
    height: 80px;
    border: 4px solid;
}

.reveal .footer {
    font-size: 0.35em !important;
    text-align: right !important;
}


.smallest {
    font-size: 0.5em !important;
}

.small {
    font-size: 0.6em !important;
}

.smallish {
    font-size: 0.7em !important;
}

.body-small {
    font-size: 0.9em !important;
}

.body-smaller {
    font-size: 0.8em !important;
}


.customBackground {
    background-color: red !important;
}

// Change colors of slide title (h1) easily (inspiration from: https://stackoverflow.com/a/73643368)
.white-title h1 {
    color: white;
}

// Oval shape that might be useful 
.oval {
    height: 50px;
    background-color: transparent;
    color: red;
    border-radius: 100%;
    border: 4px solid;
}

.oval-small {
    height: 25px;
    background-color: transparent;
    color: red;
    border-radius: 100%;
    border: 4px solid;
}


